.sidebar {
    height: 67%;
    margin-top: 3em;
    width: 250px;
    position: fixed;
    left: 0.5em;
    background: linear-gradient(135deg, rgb(1, 1, 19), rgb(116, 162, 223));
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
}

.menu-item {
    text-decoration: none;
    color: rgb(248, 246, 246);
    display: flex;
    align-items: center;
    padding: 15px;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #d9e3f0;
    border-radius: 5px;
    color: rgb(0, 0, 14);
    width: 250px;
    cursor: pointer;
}

.menu-item.active {
    background-color: rgb(180, 212, 219);
    border-radius: 5px;
    color: rgb(1, 1, 12);
    width: 250px;
}

mat-icon {
    margin-right: 10px;
}

h3 {
    margin: 0;
}
