
<div class="sidebar">
    <a class="menu-item" routerLink="/home" routerLinkActive="active" (click)="navigateToHome()">
    <mat-icon>home</mat-icon> <h3>Home</h3>
    </a>
    <a class="menu-item" (click)="navigateToExplore()">
      <mat-icon>explore</mat-icon> <h3>Explore</h3>
    </a>
    <a class="menu-item" id="notifications" (click)="navigateToNotifications()">
      <mat-icon>notifications</mat-icon> <h3>Notifications</h3>
    </a>
    <a class="menu-item" id="messages-notifications" (click)="navigateToMessages()">
      <mat-icon>mail</mat-icon> <h3>Message</h3>
    </a>
    <a class="menu-item" (click)="navigateToBookmarks()">
      <mat-icon>bookmark</mat-icon> <h3>Bookmarks</h3>
    </a>
    <a class="menu-item" (click)="navigateToAnalytics()">
      <mat-icon>show_chart</mat-icon> <h3>Analytics</h3>
    </a>
    <a class="menu-item" (click)="navigateToThemes()">
      <mat-icon>palette</mat-icon> <h3>Themes</h3>
    </a>
    <a class="menu-item" (click)="navigateToFriends()">
      <mat-icon>supervised_user_circle</mat-icon> <h3>Friends</h3>
    </a>
    <a class="menu-item" (click)="navigateToGroups()">
      <mat-icon>group</mat-icon> <h3>Groups</h3>
    </a>
    <a class="menu-item" (click)="navigateToMarketplace()">
      <mat-icon>shopping_cart</mat-icon> <h3> Marketplace</h3>
    </a>
    <a class="menu-item" (click)="navigateToWatch()">
      <mat-icon>ondemand_video</mat-icon> <h3>Watch</h3>
    </a>
    <a class="menu-item" (click)="navigateToSettings()">
      <mat-icon>settings</mat-icon> <h3>Settings</h3>
    </a>
</div>
  