.dialog-container {
    background: linear-gradient(to right, rgb(122, 196, 245), #d7e2eb);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.head {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.content {
    font-size: 1.2em;
    color:rgb(7, 7, 65);
}
  
.buttons {
    display: flex;
    justify-content: space-evenly;
}
  
.buttons button {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  